---
---

@import "{{ site.theme }}";

$font-primary-color: #375EAB;
$font-base-color: #222;
$font-base-color-dark: #fff;
$font-code-comment-color: #AAA;
$background-code-color: #EFEFEF;
$background-title-color: #E0EBF5;
$base-font-family: Arial, sans-serif;
$code-font-family: Menlo, monospace;
$background-color-dark: #061f2f;

body {
  color: $font-base-color;
  font: 12px;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.8em;
  padding: 50px;
}

body.dark {
  background-color: $background-color-dark;
  color: $font-base-color-dark;
}

h1 {
  color: $font-primary-color;
  font-family: $base-font-family;
  font-weight: bold;
  padding-right: 20px;
}

h1.post-title {
  background: $background-title-color;
  font-family: $base-font-family;
  font-weight: normal;
  line-height: 1.25;
  padding: 8px;
}

h2 {
  background: $background-title-color;
  color: $font-primary-color;
  font-weight: normal;
  line-height: 1.25;
  padding: 8px;
}

h3 {
  color: $font-primary-color;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}

code, pre {
  background: $background-code-color;
  background-color: $background-code-color;
  border: 0px;
  border-radius: 5px;
  font-family: $code-font-family;
  font-size: 12px;
  margin: 20px;
}

pre.highlight {
  margin: 0px;

  code {
    margin: 0px;
  }
}

figure {
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 20px;

  pre {
    margin: 5px;

    code {
      margin: 0px;
    }
  }
}

img {
  margin: 10px;
}

small {
  font-size: 12px;

  a {
    margin-left: 5px;
  }
}

a {
  color: $font-primary-color;

  &:hover {
    font-weight: normal;
    text-decoration: underline;
  }
}

ul {
  background-color: $background-code-color;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;

  ul {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  li {
    font-family: $code-font-family;
    font-size: 12px;
    margin-bottom: 2px;
  }
}

p.view {
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  bottom: 10px;

  p {
    margin: 0px;
  }
}

.highlight {
  background-color: $background-code-color;

  .nf, .nc, .mi, .nd {
    color: $font-primary-color;
  }

  .nb, .n, .no, .s, .s1, .s2, .si, .sh, .vi {
    color: $font-base-color;
  }

  .c, .c1, .c2 {
    color: $font-code-comment-color;
    font-weight: 100;
  }
}

.highlighter-rouge {
  background-color: $background-code-color;
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 10px;
  padding: 3px;
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
