---
---

@import "{{ site.theme }}";

body {
  color: #222;
  font: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  padding: 50px;
}

h1 {
  color: #375EAB;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

h1.post-title {
  background: #E0EBF5;
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: 1.25;
  padding: 8px;
}

h2 {
  background: #E0EBF5;
  color: #375EAB;
  font-weight: normal;
  line-height: 1.25;
  padding: 8px;
}

h3 {
  color: #375EAB;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}

code, pre {
  background: #EFEFEF;
  background-color: #EFEFEF;
  border: 0px;
  border-radius: 5px;
  font-family: Menlo, monospace;
  font-size: 12px;
  margin: 20px;
}

pre.highlight {
  margin: 0px;

  code {
    margin: 0px;
  }
}

figure {
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 20px;

  pre {
    margin: 5px;

    code {
      margin: 0px;
    }
  }
}

img {
  margin: 10px;
}

small {
  font-size: 12px;

  a {
    margin-left: 5px;
  }
}

a {
  color: #375EAB;

  &:hover {
    font-weight: normal;
    text-decoration: underline;
  }
}

ul {
  background-color: #EFEFEF;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;

  ul {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  li {
    font-family: Menlo, monospace;
    font-size: 12px;
    margin-bottom: 2px;
  }
}

p.view {
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight {
  background-color: #EFEFEF;

  .nf {
    color: #375EAB;
  }

  .nb {
    color: #222;
  }

  .nc {
    color: #375EAB;
  }

  .n {
    color: #222;
  }

  .no {
    color: #222;
  }

  .mi {
    color: #375EAB;
  }

  .nd {
    color: #375EAB;
  }

  .s {
    color: #222;
  }

  .s1 {
    color: #222;
  }

  .s2 {
    color: #222;
  }

  .si {
    color: #222;
  }

  .sh {
    color: #222;
  }

  .vi {
    color: #222;
  }

  .c {
    color: #AAA;
    font-weight: 100;
  }

  .c1 {
    color: #AAA;
    font-weight: 100;
  }

  .c2 {
    color: #AAA;
    font-weight: 100;
  }
}

.highlighter-rouge {
  background-color: #EFEFEF;
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 10px;
  padding: 3px;
}
