<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/favicon.png?">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script type="text/javascript" src="{{ site.url }}/assets/javascript/switch.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <header>

        <a href="{{ site.url }}/"> <h1>{{ site.title | default: site.github.repository_name }}</h1></a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">
          <a href="{{ site.url }}/about"><i class="fas fa-portrait fa-2x"></i></a>
          <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github fa-2x"></i></a>
          <a href="{{ site.url }}/feed.xml"><i class="fas fa-rss fa-2x"></i></a>
          <a href="{{ site.url }}/miniposts"><i class="fas fa-ghost fa-2x"></i></a>
        </p>

        <!-- main posts -->

        <p class="view">
          Posts:
          <small>
            {% for post in site.posts %}
              {% unless post.tags contains 'minipost' %}
                <br>{{ post.date | date: "%Y/%m/%d" }} <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              {% endunless %}
            {% endfor %}
          </small>
        </p>

        <!-- Toggle switch -->

        <p class="view">
          <i class="far fa-sun fa-sm"></i>

          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>

          <i class="far fa-moon fa-sm"></i>
        </p>

      </header>

      <section>

        {{ content }}

        <hr>

        <small>{{ site.maintain_message }}</small>
      </section>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}

  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7f8582e7d5da4e789f291951c514c8eb"}'></script><!-- End Cloudflare Web Analytics -->

  </body>
</html>
